<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="#" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/sweetalert2/sweetalert2.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fuentes/iconic/css/material-design-iconic-font.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Escudo_Colmayor.png') }}"/>
    <title>Generador de Informe</title>
</head>

<body>
    <div class="container-login">
        <div class="wrap-login">
            <form class="login-form validate-form" action="{{ url_for('actualizar') }}" method="post" enctype="multipart/form-data">
                <span class="login-form-title">Generador Informe Consolas Encuestas</span>
                <br>
                <!-- <br>
                <label for="file">Seleccionar Archivo:</label>
                <input type="file" name="file" id="file" accept=".xlsx">
                <br>
                <br>
                <label for="start_date">Fecha de Inicio:</label>
                <input type="date" name="start_date" id="start_date" placeholder="YYYY-MM-DD">
                <br>
                <br>
                <label for="end_date">Fecha de Fin:</label>
                <input type="date" name="end_date" id="end_date" placeholder="YYYY-MM-DD">
                <br>
                <br>
                <label for="dependencia">Seleccionar Dependencia:</label>
                <br>
                <select name="dependencia" id="dependencia">
                    <option value="TODAS LAS DEPENDENCIAS">TODAS LAS DEPENDENCIAS</option>
                    <option value="ADMISIONES, REGISTRO Y CONTROL">ADMISIONES, REGISTRO Y CONTROL</option>
                    <option value="ATENCIÓN AL CIUDADANO">ATENCIÓN AL CIUDADANO</option>
                    <option value="BIBLIOTECA">BIBLIOTECA</option>
                    <option value="BIENESTAR INSTITUCIONAL">BIENESTAR INSTITUCIONAL</option>
                    <option value="FABLAB">FABLAB</option>
                    <option value="FACULTAD DE ADMINISTRACIÓN">FACULTAD DE ADMINISTRACIÓN</option>
                    <option value="FACULTAD DE ARQUITECTURA E INGENIERÍA">FACULTAD DE ARQUITECTURA E INGENIERÍA</option>
                    <option value="FACULTAD DE CIENCIAS DE LA SALUD">FACULTAD DE CIENCIAS DE LA SALUD</option>
                    <option value="FACULTAD DE CIENCIAS SOCIALES Y EDUCACIÓN">FACULTAD DE CIENCIAS SOCIALES Y EDUCACIÓN
                    </option>
                    <option value="GESTIÓN DOCUMENTAL">GESTIÓN DOCUMENTAL</option>
                    <option value="MEDIOS AUDIOVISUALES">MEDIOS AUDIOVISUALES</option>
                    <option value="QUÉDATE EN COLMAYOR">QUÉDATE EN COLMAYOR</option>
                </select>
                <br>
                <br> -->
                <div class="resultados-container">
                    <!-- Primer bloque -->
                    <div class="container-login-form-btn">
                        <div class="wrap-login-form-btn">
                            <div class="login-form-bgbtn"></div>
                            <button class="login-form-btn" type="submit">Actualizar</button>
                        </div>
                    </div>

                    <!-- Segundo bloque con resultados en fondo blanco y texto negro -->
                    <div class="resultados" style="background-color: white;">
                        <div style="background-color: #eceff1;   width: 100%;position: relative;">
                            <div class="login-form-bgbtn"></div>
                            <p>Ultimo Registro: {{ resultados }}</p>
                        </div>
                    </div>
                </div>

            </form>
            <!-- <form action="/completa" method="post">
                <div class="container-login-form-btn">
                    <div class="wrap-login-form-btn">
                        <div class="login-form-bgbtn"></div>
                        <button class="login-form-btn" type="submit">Generar Por Dependencia</button>
                    </div>
                </div>
            </form> -->
            <br>
            <div class="form-group" style="width: 100%; height: 100%;">
                <a href="{{url_for("generar_todas")}}" class="btn btn-primary custom-button" style="
                background-color: #cb7204;
                color: white;
                box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
                border-radius: 40px 5px;
                padding: 8px 20px;
                border: none;
                margin-right: 10px;
                height: 70px; /* Altura deseada */
                width: 200px; /* Ancho deseado */
            "><b>GENERAR TODAS LAS DEPENDENCIAS</b></a>


                <a href="{{url_for("generar_por_dependencia")}}" class="btn btn-primary custom-button" style="background-color: #cb7204;
                color: white;
                box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
                border-radius: 40px 5px;
                padding: 8px 20px;
                margin-left: 1px;
                height: 70px; /* Altura deseada */
                width: 200px; /* Ancho deseado */
                     border: none;"><b>GENERAR POR DEPENDENCIA</b></a>
            </div>

            <form action="{{ url_for('mostrar_completa') }}" method="post">
                <div class="container-login-form-btn">
                    <div class="wrap-login-form-btn">
                        <div class="login-form-bgbtn"></div>
                        <button class="login-form-btn" type="submit">REGISTRO COMPLETO BASE DE DATOS</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>